.addBtn, .delBtn {
    background-color: white !important;
    color: #004c81 !important;
    font-family: Arial, Helvetica, sans-serif !important;
    font-weight: 2rem !important;
    border-radius: 2rem !important;
    width: 100px;
    border: 2px solid #20ccf8 !important;
    justify-content: center !important;
}

.te {
    text-align: center;
}