.btn {
    background-color: lightblue !important;
    color: black !important;
    border-color: black !important;
}

h1, p {
    text-align: center;
}

.jumbotron {
    background-image: url("/assets/images/pets1.png") !important;
    /* margin-left: 110px;
    margin-right: 110px; */
    margin-top: 10px;
    font-family: 'Goldman', cursive;
    background-size: 90%;
    background-position: bottom;
}

.display-3, .lead {
    color: #3B0273
}

div {
    background-color: #cfcbd1;
}

