.btn {
    background-color: lightblue !important;
    color: black !important;
    border-color: black !important;
}

h1, p {
    text-align: center;
}

.jumbotron {
    background-image: url("/assets/images/pets1.png") !important;
    font-family: 'Goldman', cursive;
    background-size: 90%;
    background-position: bottom;
}

.display-3, .lead {
    color: #3B0273
}

.color {
    background-color: #cfcbd1;
}

