html {
    position: relative;
    min-height: 100%;
}

/* Footer */
.footer {
    height: 60px;
    background-color: #3B0273;
    /* text-align: center;
    position: fixed;
    width:100%;
    display: block;
    bottom: 0 !important;
    padding: 20px;
    line-height: 60px;
    height: 60px; */
}
.fa-2x {
    justify-content: right;
    margin-top: 15px;
    color: #ddb4ff;
}
.fa-2x:hover {
    color:  #ecd7fd;
}
.wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -60px;
}