.noPet {
    text-align: center !important;
}

.delete-btn {
    justify-content: center !important;
    display: flex
}

#profP {
    justify-content: center;
    margin-left: 30px;
}

.mt-5 {
    justify-content: center !important;
    text-align: center;
    margin-left: 30px;
}

.ppCard, mt-5, body {
    font-family: Arial, Helvetica, sans-serif !important;
    color: black;
}

.img-fluid {
    margin-left: 15px;
    border: thick solid #B7B9B8 !important;
    width: 375px;
    margin-top: 20px;
}

.pPal {
    color: charcoal;
    text-align: center;
}